# Dependency directories
node_modules

# Logs
logs
*.log
npm-debug.log*

# Configuration
config/development.json
config/production.json
cert
nodemon.json

# Assets
*.flac
output.jpeg
*.png

# Builds/Articats
dist

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# IDE
*.iml
.idea
